---
---

@import "{{ site.theme }}";
.inner {
    max-width: 800px;
    text-align: justify;
}


#project_title {
    color: #fff0;
    text-shadow: none;
}


#header_wrap {
    background-image: url("https://reho.st/self/0e1b275d1f992e67fdbf480469276983767b1359.jpg");
}


