---
---

@import "{{ site.theme }}";
.inner {
    max-width: 1280px;
    text-align: justify;
}


html{
    max-width: 1280px;
    margin: auto;
}

#header_wrap {
    background-image: url("https://reho.st/self/0e1b275d1f992e67fdbf480469276983767b1359.jpg");
}


body {
    background: #f1f0f3;
    font-family: Verdana, Arial, sans-serif, Helvetica;
    font-size: 13px;
}

#main_content_wrap {
    background: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Arial, sans-serif, Helvetica;
}



* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
}

.left {
    width: 30%;
    padding: 10px;
    
   font-size: 12px;
   text-decoration: none;
}

.right {
    width: 70%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1024px) {
    .column {
        width: 100%;
    }
}
