---
---

@import "{{ site.theme }}";
.inner {
    max-width: 800px;
    text-align: justify;
}


#project_title {
    color: #fff0;
    text-shadow: none;
}

html{
    max-width: 1280px;
    margin: auto;
}

#header_wrap {
    background-image: url("https://reho.st/self/0e1b275d1f992e67fdbf480469276983767b1359.jpg");
}

.label-cat {
  display: inline-block;
  background: #c8b36b;

  border-radius: 3px;
  width: 40px;
  padding: 2px 0 0;
  height: 16px;

  text-transform: uppercase;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  text-align: center;
}


